* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b004e;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  margin-top: 12px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  width: 50%;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.nav-item__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}

.header-btn {
  border: 2px solid #eb5757;
  border-radius: 50px;
  padding: 18px 52px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* main part */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    margin-top: 160px;
}

.hero .hero__left .hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
    width: 630px;
}

.hero .hero__left .hero__text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 10px;
    width: 450px;
}

.hero .hero__left .hero__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #EB5757;
    border-radius: 50px;
    border: none;
    margin-top: 35px;
}

